
/*Modificar estilos de la barra de navegaciòn*/
.nav-link{
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}


.nav-link:hover {
    color: black;
    background-color: orange;
    font-size: 16px;

}

/*Modificar estilos del card*/
 .card{
    width: 300px;
 }





