* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4 {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
p,
li,
a {
    font-family: 'Roboto Slab', serif;
}


/* Estilo para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fondo {
    background: #1B98E0;
}


/* Estilo para la imagen del icono */
#img-icono {
    height: 55px;
    width: 90px;
    border-radius: 10px;
    margin-left: 30px;
    transition: transform 1s ease-in-out 0s;
}


/* Estilos de la seccion Nosotros*/
.header-content {
    display: flex;
    align-items: center;
}


#titulo-nosotros {
    background: #1B98E0;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px;
}

.subtitulo-nosotros {
    margin: 20px;
    text-align: center;
    font-weight: bold;
}


.justificar-parrafo{
    text-align: justify;
}

/* Estilos de la seccion Blog*/

.cuerpo-post{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.btn-position{
    margin: 20px;
    background: #127cdd;
    width: 180px;
    height: 45px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto Slab', serif;
    
}

.btn-position:hover{
    background: #dda712;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.fondo-blog{
    background: rgba(183, 227, 253, 0.38);
}

/*Titulo y cuerpo del post*/

.titulo-blog{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}


.subtitulo-post{
    font-weight: bold;

}

.parrafo-post{
    padding: 15px;
    text-align: justify;
}

/*Footer del Post*/

.pie-post{
    display: flex;
    align-items: center;
    margin: 10px;
}

.img-calendario{
    height: 30px;
    width: 26px;
}

.parrafo-pie-post{
   font-size: 12px;
   margin: 3px;
}

/* Estilos de la seccion Soporte*/

.img-configuracion{
    width: 110px;
    height: 120px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
}

.fondo-soporte{
    background: rgba(183, 227, 253, 0.38);
}

.post-soporte{

    width: 180px;
    height: 400px;
}


.cuerpo-post-soporte{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.parrafo-post-soporte{
    text-align: justify;
    font-size: 15px;
    margin: 25px;

}

/*Estilos Seccion Reserva*/

#titulo-reserva {
    background: rgba(221, 104, 18, 0.79);
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px;
}

.btn-position-naranja{
    margin: 20px;
    background: #dd6812;
    width: 180px;
    height: 45px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto Slab', serif;
    
}

.btn-position-naranja:hover{
    background: #ddc912;
    font-weight: bold;
}

.seccion-reserva{
    display: flex;
    justify-content: center;
    
}

.seccion-derecha{
   width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.seccion-derecha h3{
    font-weight: bold;
    margin: 20px;
}

.seccion-derecha p{
    margin: 20px;
}


.formato-img-horario{
    width: 523px;
    height: 513px;
    padding: 25px;
}

.subtitulo-post-soporte {
    margin: 20px;
    font-weight: bold;
}


/*Estilos Seccion Productos*/

#titulo-producto{
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px;
}

.fondo-productos{
    background-image: url(../img/img-fondo.png);
    
}

.subtitulo-productos{
    font-weight: bold;
    margin: 30px;
    text-align: center;

}

/*Formulario*/

.seccion-formulario{
    display: flex;
    justify-content: center;
}









