
@media (max-width: 782px) {

    /*Seccion Blog*/
    .cuerpo-post{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-position{
        width: 400px;
    }

    .fondo-btn{
        display: flex;
        width: auto;
        justify-content: center;
    }

    /*Seccion Soporte*/

    .cuerpo-post-soporte{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}























