
.container{
   padding: 0px;
   
 
}

nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
}


.encabezado{
    
    height: 200px;
}

.inicio{
    height: 500px;
}

.nosotros{
    height: 500px;
}






























